<section class="flex justify-start items-center gap-4 border-b pb-4">
  <!-- <img [src]="item.dessert.image" alt="" class="h-12 aspect-square rounded-md row-span-2"> -->
  <div class="flex-1">
    <p class="font-medium col-span-3">{{ 'item.dessert.name' }}</p>
    <div class="flex justify-start items-center gap-3">
      <p class="text-sm font-medium text-primary-orange">{{ 'item.quantity' }}x</p>
      <p class="text-sm">{{ 20 | currency }}</p>
    </div>
  </div>
  <p class="font-medium">{{ subtotal | currency }}</p>
</section>